// Page Colors
$primary-color: purple;
$secondary-color: #c4c4c4;
$light-color: #fff;
$red-hue: #8b0000;

// reset and basic styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ul {
    list-style: none;
  }

  body {
    background-color: $secondary-color;
    font-family: Arial, Helvetica, sans-serif;
  }

  button {
    background-color: $light-color;
    border: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }

  i {
    float: right;
    margin: auto 10px;
    cursor: pointer;
  }
}
