#logo {
    width: 20px;
    fill: $light-color;
  }
  
  nav {
    background-image: linear-gradient($primary-color, $red-hue);;
    text-align: center;
    width: 60px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  
      i{
          width:20px;
      }
  
    a{
        display: inline-block;
        padding: 20px;
        color: $light-color;
    }
  
    a:hover{
        background-color: $primary-color;
        opacity: 30%;
    }
  
    .navHead {
      border-bottom: 1px solid $secondary-color;
  
      a:link {
        color: $secondary-color;
      }
    }
  
    #expandNav {
      border-top: 1px solid $secondary-color;
      position: absolute;
      bottom: 0;
      left:0;
      width: 60px;
    }
  }